.profile__name {
    font-family: 'Inter', 'Arial', serif;
    font-weight: 500;
    font-size: 42px;
    margin: 0;
    grid-area: name;
}
@media screen and (max-width: 680px) {
    .profile__name {
        font-size: 27px;
        text-align: center;
        min-width: 189px;
    }
}