.profile__job {
    font-family: 'Inter', 'Arial', serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    grid-area: job;
}
@media screen and (max-width: 680px) {
    .profile__job {
        font-size: 14px;
        min-width: 282px;
        text-align: center;
    }
}