.popup__field {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 358px;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.popup__field:last-of-type {
    margin: 25px auto 48px;
}
@media screen and (max-width: 550px) {
    .popup__field {
        min-width: 238px;
    }
    .popup__field:last-of-type {
        margin: 25px auto 44px;
    }
}